---
import CarouselItems from "./CarouselItems.svelte";
import PocketBase from "pocketbase";
import "dotenv/config";
const pb = new PocketBase("https://vanilla-api-skyw.onrender.com");

const carouselProducts:any = await pb.collection("carousel_products").getFullList({
  headers: {
    app_token: import.meta.env.APP_TOKEN,
  },
});
let filter:String =""
for(let prod of carouselProducts)
{
  filter+=`param = "${prod.param}" || `
}
const products:any = await pb.collection("products").getFullList({
  headers: {
    app_token: import.meta.env.APP_TOKEN,
  },
  filter: filter.slice(0, filter.length-3)
});
---

<div class="w-full flex justify-center">
  <div class="xl:w-[1200px] w-full">
    <div
      id="controls-carousel"
      class="mt-10 relative bg-black max-w-[1200px]"
      data-carousel="static"
    >
      <!-- Carousel wrapper -->
      <div
        class="relative rounded-3xl bg-black overflow-hidden h-[600px]"
      >
        <CarouselItems client:load items={carouselProducts} linkItems={products} />
      </div>
      <!-- Slider controls -->
      <button
        type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"></path>
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button
        type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"></path>
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>
  </div>
</div>

<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
></script>
