---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sex Shop Vanilla" page="zanas">
  <div class="mx-5">
    <h1 class="text-5xl">За Нас</h1>
    <p class="text-2xl mt-14">
      Sex Shop Vanilla е лидер на пазарот кога во прашање се секс играчки и
      реквизити, хербални средства за подобрување на сексуалниот однос или
      сексуална козметика, со други зборови, кога во прашање е вашето сексуално
      задоволство, го имаме решението за секоја ваша желба.
    </p>
    <p class="text-2xl mt-10">
      На ваша услуга сме повеќе од 2 години, во кои не само што стекнавме
      искуство и се пробивме на врвот, туку и со нашите производи и услуги, ја
      стекнавме вашата доверба, за која секој ден работиме напорно, со цел да ја
      оправдаме и задржиме.
    </p>
    <p class="text-2xl mt-10">
      Ден со ден, асортиманот на Vanilla се зголемува, а со тоа се зголемува и
      нашиот апетит да ги пружиме најповолните и најниски цени на пазарот,
      пружејќи ви вам неодоливо искуство и задоволство при пазарење од нашите
      производи.
    </p>
    <p class=" text-2xl mt-10">Со почит,<br> Тимот на Vanilla</p>
  </div>
</Layout>
