---
import Layout from "../../layouts/Layout.astro";
import StoriesGrid from "../../components/StoriesGrid.svelte"
---

<Layout title="Секс шоп ванила" page="cart">
  <div class="mx-5">
    <StoriesGrid/>
  </div>
</Layout>
