---
import Layout from "../../layouts/Layout.astro";
import StoriesGrid from "../../components/StoriesGrid.svelte"
---

<Layout title="Sex Shop Vanilla" page="prikazni">
  <div class="mx-5">
    <StoriesGrid/>
  </div>
</Layout>
