---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sex Shop Vanilla" page="prikazni">
  <div class="mx-5">
    <h1 class="text-5xl">Како да изразите почит кон својот маж?</h1>
    <p class="mt-10 text-xl">
      Ги сакам мажите. Начинот на кој се движат, нивната сигурност, начинот на
      кој со своите очи ги проверуваат параметрите на секој нов простор во кој
      влегуваат. Го сакам нивниот заштитнички став кон помалите и поранливите од
      нив. Ја сакам нивната добродушност и мекоста во нивното срце. Го сакам
      начинот на кој се фокусираат и насочуваат кон работите, поминувајќи многу
      часови се додека не пронајдат начин за соодветно решение, бескрајно
      фасцинантно. И секако го сакам начинот на кој се снаоѓаат со тешките
      работи, од управувањето со косилката за тревник до отворање тегли, убивање
      пајаци и итн. Јас пораснав во средина каде што според културните норми ,
      љубовта кон мажите беше резервирана. Од тромави татковци кои ги хранат
      своите деца со чоколади и торти за појадок до комични но со идиотски став
      и настроеност. Сликата за мажите во нашата култура послужи да ги прикаже
      нив како глупави и излишни. Ќерка ми која сега има петнаесет години, има
      помалку јасна дефиниција за машкоста. Таа навлегува во свет каде што
      мажите ја негуваат “метросексуалноста” или “урбаната сексуалност” –
      совршено средени, ентузијасти, ќелави мажи кои можат да одат рака под рака
      кога треба да се изберат свадбените детали, фаворизирајќи боја за
      завесите. Да ви кажам ми се врти во главата.
    </p>
    <p class="mt-10 text-xl">
      Според мене најдоброто нешто кај мажот е нивната различност од жените. Тоа
      е исто така една од најфрустирачките работи за нив. Јас можам да го
      разберам константниот притисок што се прави насекаде во светот со цел да
      се создаде полов неутрален терен, каде што сите ние можеме да комуницираме
      на еден ист јазик, наместо да се трудиме да зборуваме во две различни
      верзии меѓу себе. Од друга страна пак, ако ја немаме машкоста кај мажот
      или женственоста кај жената, нема да ни остане ништо со што би се
      привлекувале едни со други. Неутралните работи не не исполнуваат, нема
      искра. Како жена јас уживам во различностите меѓу половите, физичката и
      секоја друга различност. Познавам многу жени од моето опкружување кои ги
      мразат мажите. Јас дури не сум сигурна дали тие се свесни за тоа, но
      начинот на кој зборуваат за своите сопрузи, браќа, татковци е толку
      иритирачки и со доза на сарказам што ми е срам понекогаш да слушам. Знам,
      и јас се наоѓам во ситуација каде што во одредени моменти размислувам и
      зборувам за мажите на таков начин. Во моите бракови, еден неуспешен и
      мојот сегашен, открив неколку работи кои се навистина за почит кон мажите
      кои биле во мојот живот. Тоа го научив од грешките кои ги правев во текот
      на животот. Немојте да ме разберете дека јас ги поистоветувам со
      совршеност, некогаш не успевам во проценката на спротивниот пол, но
      секогаш се присетувам колку јас навистина ги сакам мажите. Тие се
      неверојатни и навистина мислам дека заслужуваат женско признание.
    </p>
    <p class="mt-10 text-xl">
      И тајната е – дали навистина сте подготвени за ова? – тие живеат за тоа.
      Всушност ако мажот не е почитуван и ценет од страна на жената, тој
      исчезнува. Понекогаш, тој буквално си заминува а понекогаш се преиспитува
      каков е неговиот статус во врската. Тој копнее за благодарност, признание
      и почит. Ве молам дозволете ми да се изјаснам правилно. Јас овде не
      зборувам за одобрување. Тоа подразбира моќна динамика, повеќе како
      одобрување од страна на мајката(или неодобрување) на синот. Тоа тие не го
      сакаат. Како да изразите почит кон својот маж ? Зборувам за почитувањето
      како еден отворен израз на благодарност. Тоа е толку едноставно. Ви ги
      носи сите потребни намирници. Вие му се заблагодарувате. Тој ја поправа
      машината за миење садови. Вие сте смирени и покрај сите негови погрешни
      методи и нови обиди, тука сте но сепак стоите на страна за на крај кога ќе
      ја заврши работата без разлика на резултатот да го бакнете и да му се
      заблагодарите за целосниот труд што го вложил. Ви звучи бесмислено, знам.
      Јас не велам тоа да го правите на вештачки и неискрен начин. Всушност тој
      ќе знае ако добие од вас лажна пофалба. Искрено, зарем не ви е мило што
      тој е оној кој ви ги носи сите намирници? Зарем не ви е мило што ви ја
      поправил машината за садови и не морате да миете рачно? И на крајот на
      краиштата, зарем не сте благодарни од неговата благонклонетост,
      дарежливост и спремност да направат се со цел да ве задоволат?
    </p>

    <p class="mt-10 text-xl">
      Со тоа што му покажувате вистински израз на ваша благодарност во одреден
      момент е како да ставате паричка во банката на вашата врска. Инвестирате
      во иднината на вашата врска со секоја насмевка, секој убав збор, секој
      допир и благодарам. Мажите по природа се многу љубезни и добронамерни
      души. Кога жените имаат некои барања од мажите тие се оптоваруваат и се
      чувствуваат стегнато. Вие можете да му кажете на мажот што сакате,
      всушност и треба да му кажете. Спротивно на женските верувања факт е дека
      мажите не читаат мисли. Тие сакаат жена која што знае што сака и знае како
      да го изрази истото. Но да бидеме јасни тоа не подразбира коленичење и
      ценкање за да го добиете тоа што го посакувате. Познавав една жена која
      никако не сакаше орално да го задоволи својот сопруг, а нормално сакаше
      дијамантски прстен за нивната десетгодишнина. На крајот таа направи
      пресметка.” Ќе те задоволувам орално секој пат кога ќе тргаш настрана по
      100 долари за мојот прстен.” После одреден период му здодеа оралниот секс
      зошто неговата жена не внесуваше новитети и доза на страст и престана да
      трга пари настрана.
    </p>
    <p class="mt-10 text-xl">
      Да, на маж да му здодее од орален секс. Како е тоа можно? Бидејќи знаеше
      дека за неа тоа е само средство за да стигни до посакуваната цел. Познавам
      само неколку мажи кои се задоволни од фактот дека жените се со нив само со
      цел да добијат нешто. Мажот попрво ќе се откаже од орален секс отколку да
      биде искористен и изманипулиран. Ако му ја изразувате вашата
      “благодарност” се со цел да добиете нешто за возврат, подобро откажете се
      од истото. Ќе ви се врати како бумеранг во секое време. И тука доаѓаме до
      друга тајна за мажите. Дали знаете кој е нјдобриот начин да му покажете на
      еден маж дека навистина го цените? Вие можеби нема да ми поверувате, но
      јас го истражував ова и се потврди како генерално точно. Мажите сакаат да
      искусат како нивните жени доживуваат задоволство. Тоа е една извонредна и
      привлечна работа во светот на мажите. Тоа не значи само на задоволството
      во кревет, туку тоа може да биде толку едноставно како што е смеењето на
      неговите шеги, насмевката кога ќе направи нешто чудно, или велејќи “Ммм”
      кога ќе ви донесе чоколадо. Тоа е толку едноставно како да го уживате
      животот во неговото присуство. Тој сака и живее се со цел да ве задоволи и
      во креветот и надвор од него. Познавав една жена, чиј маж постојано се
      жалеше за тоа колку пари троши таа на облека. Таа беше убава жена, со
      прекрасна фигура и очигледно беше дека облеката и е слабост. Имаше долг
      период на несогласување и пререкување меѓу нив, се додека конечно, таа се
      откажа и рече ”Добро. Не купувам повеќе алишта, се додека не ми купиш ти.”
    </p>
    <p class="mt-10 text-xl">
      Што се случи? Таа откри дека нејзиниот сопруг е многу подарежлив кон неа
      отколку што била кон себе си. Тој ја носеше на шопинг, и купуваше такви
      убави фустани што претходно се плашеше да си ги дозволи поради тоа што
      нивните цени се косеа со нејзиниот буџет за трошење за облека. Наместо
      искрадувајќи се и одејќи во шопинг се со цел да го наполни својот плакар,
      таа му овозможи него тој да и го пружи тоа задоволство. Тоа за возврат
      него му причинуваше задоволство, а резултатот беше подобар од што
      замислуваше. Ова истото важи и за во постелата со вашиот маж. Кој е
      најдобриот начин на кој што можете да го задоволите вашиот маж во кревет?
      Бидете опуштени и спремни да го примите целото задоволство што сака тој да
      ви го овозможи. Не се стегајте да го прашате вашиот маж, што му причинува
      поголемо задоволство, вашето или неговото. Ќе бидете изненадени од
      одговорот. Тој ќе направи се во кревет за вие да доживеете оргазам, да
      стенкате, да пискате и да воздивнувате од задоволство. Не постои ништо што
      го прави мажот позадоволен од гледањето на изразот на неговата љубовница
      како се топи во неговите раце уживајќи во оргазмот до кој што тој ја
      довел.
    </p>
    <p class="mt-10 text-xl">
      Но едно е јасно, мажите не сакаат да му приредуваме перформанси. Тие се
      линеарни, фокусирани , јасни и директни, но не се глупави. Тие едноставно
      знаат кога жената глуми и не го чувствува она што го изразува. Просто
      знаат кога жената не е искрена во кревет, и знаат дали се преправате или
      глумите задоволство кое не го доживувате, ако нема да ви го кажат тоа.
      Сето ова не води до две работи кои што можеме да ги направиме се со цел да
      посветиме внимание и да се почувствува почитуван нашиот маж:
    </p>
    <p class="mt-10 text-xl">
      1. Дознајте што сака тој <br /> 2. Побарајте го од него она што го сакате вие.
      Знам дека звучи парадоксално, но најголемото задоволство што мажот може да
      го добие од вас е да ве направи вас задоволни и среќни.Ова се однесува за во
      креветот и надвор од него. И секако правилото број три ќе биде: <br /> 3. Заблагодарете
      му се за сите оние работи што сте ги сакале а тој ви ги овозможил. Тоа е толку
      едноставно, а сепак има толку жени кои немаат поим што сакаат, или пак знаат
      што сакаат но не се осудуваат да побараат…и потоа, ако го добиле, се чувствуваат
      толку засрамено што се ставени нивните барања на прво место па им е тешко да
      кажат “благодарам”.
    </p>
    <p class="mt-10 text-xl">
      Тоа што треба да го запаметите е дека уживањето на жената е тајната
      состојка за задоволството на еден маж. Тој сака да види дека се што прави,
      се за што се труди, се што може да понуди е ценето од страна на неговата
      жена, без разлика дали е тоа гледањето на нејзиниот израз кога го отвора
      подарокот, или блесокот во нејзините очи кога ќе и донесе цвеќе или
      изразот на нејзиното лице кога доживува оргазам. “ Но што ако мојот маж не
      прави ваков тип на работи” ќе речете вие. Дознајте што тој прави, токму
      сега. Без разлика колку мало ви се чини она што го прави тој. Дали го фрла
      ѓубрето? Заблагодарете му се. Дали си ја мие неговата чинија после јадење?
      Заблагодарете му се. Дали го зема бебето да го почува еден саат?
      Заблагодарете му се. Не ми е гајле дали вие сте побарале од него да го
      направи тоа или тоа е нешто што тој „би требало да го направи за што
      подоцна ќе имате причина да му се заблагодарите”? Заблагодарете му се.
    </p>
    <p class="mt-10 text-xl">
      Пронајдете ја таа искра на благодарност во вашето срце, и давајте му ја
      нему. Колку повеќе го правите ова толку поголем оган ќе се разгори меѓу
      вас. Сега, постои една забелешка околу задоволувањето на мажите. Жената
      треба да биде способна да го изрази своето задоволство и уживање без да го
      критикува и да го омаловажува во текот на целиот процес. Со други зборови
      не треба да има “НО и И” во прилог на “благодарение на тебе.”
    </p>
    <p class="mt-10 text-xl">
      “Ти благодарам што си ја изми твојата чинија…НО, можеше да ја ставиш во
      машината за садови.” <br />“Ти благодарам што го почува бебето еден
      саат…НО, не си му ги променил пелените.” <br />“Ти благодарам што го
      однесе ѓубрето до контејнерите…НО, си заборавил да ја затвориш задната
      врата.”
    </p>
    <p class="mt-10 text-xl">
      Тоа “НО” ќе послужи како негирање на вашата благодарност. Тоа е како да
      ставате пари во банка и истиот момент ги повлекувате назад. Вие никогаш
      нема да имате профит. Но што ако сте во право? И се разбира, сте во право.
      Дали преферирате да чувствувате задоволство или бес? Дали преферирате да
      се чувствувате дека сте во право или да се почувствувате сакани? Значи,
      тој не ги стави чиниите во машината за садови, не ги смени пелените на
      бебето, не ја затвори задната врата….но тој ги изми чиниите, го вардеше
      бебето еден саат и го однесе ѓубрето до контејнерите. Признавајте ги и
      ценете ги малите нешта. Што поскоро ќе дознаете дека ќе треба да ги
      согледате и признаете нештата, затоа што колку повеќе го правите тоа толку
      повеќе ќе ви биде возвратено од негова страна. Најтешкиот дел за мене е да
      му кажам “Ти благодарам” кога моите потреби не се целосно задоволени. Кога
      јас се чувствувам празно и неисполнето, тоа е последната работа што сакам
      да ја направам. Кога ќе се случи ова знам дека јас не доживувам доволно
      задоволства во мојот живот. Потребно ми е време да си посветам на себе. Да
      се избањам, да се прошетам едноставно да си дадам одмор на себе си.
      Обично, откако ќе направам нешто за себе, пак кај мене се појавува таа
      добронамерност и благодарност.
    </p>
    <p class="mt-10 text-xl">
      Еден од начините на кој знам да ја изразам мојата благодарност кон мојот
      маж е да застанам пред него , ја ставам мојата рака на неговите гради и му
      велам: “Мојот прекрасен маж….јас навистина те почитувам за…” Тоа може да
      бидат една или десет работи. Всушност, колку повеќе толку подобро. И
      прашајте го секој маж што го чита ова токму сега, дури и колку глупаво да
      звучи делот “мојот прекрасен маж”. Дали тој би сакал да ја има раката на
      жена си на неговите гради и таа да му каже такво нешто со целата љубов
      собрана во нејзините очи? Не се стегајте, прашајте. Можеби ќе се
      изненадите. Кога станува збор за почитта кон мажите, жената го поседува
      сето она што и е потребно за да ја изрази истата. Таа е создадена за
      уживање а тој копнее да и овозможи секакво уживање. Тоа е навистина
      прекрасна работа, кога така функционира. Жената која е самоуверена, која
      знае што сака и го изразува тоа без тешкотии, која може да се препушти на
      вистинско, искрено, уживање и задоволство е на вистинскиот пат за
      задоволување на мажот во нејзиниот живот.
    </p>
  </div>
</Layout>
