---
import logo from "../../img/logo-removebg-preview.png";
import Email from "../Footer/Email.svelte";
import ig from "../../img/instagram-white-icon.svg";
---

<div class="w-full border-t p-4 py-6 lg:py-8">
  <div class="md:flex md:justify-between">
    <div class="mb-6 md:mb-0">
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src={logo.src} class="h-20" alt="Logo" />
      </a>
    </div>
    <div class="sm:hidden grid grid-cols-2 gap-4">
      <div class="my-auto w-10 sm:mr-10">
        <a href="tel: +38978581478">
          <svg
            class="w-10 h-10 text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m18.4 14.8-1.2-1.3a1.7 1.7 0 0 0-2.4 0l-.7.7a1.7 1.7 0 0 1-2.4 0l-1.9-1.9a1.7 1.7 0 0 1 0-2.4l.7-.6a1.7 1.7 0 0 0 0-2.5L9.2 5.6a1.6 1.6 0 0 0-2.4 0c-3.2 3.2-1.7 6.9 1.5 10 3.2 3.3 7 4.8 10.1 1.6a1.6 1.6 0 0 0 0-2.4Z"
            ></path>
          </svg>
        </a>
      </div>
      <div class="my-auto w-10 sm:mr-10">
        <a href="https://www.facebook.com/VanillaShopSex">
          <svg
            class="w-10 h-10 text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M13.1 6H15V3h-1.9A4.1 4.1 0 0 0 9 7.1V9H7v3h2v10h3V12h2l.6-3H12V6.6a.6.6 0 0 1 .6-.6h.5Z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>
      <div class="my-auto w-10 sm:mr-10">
        <a href="/">
          <img src={ig.src} class="w-10 h-10" alt="" />
        </a>
      </div>
      <div class="my-auto mt-5 sm:mt-0 w-10 sm:mr-10">
        <a href="mailto:sex.shop.vanilla@gmail.com">
          <svg
            class="w-10 h-10"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M11 16v-5.5C11 8.5 9.4 7 7.5 7m3.5 9H4v-5.5C4 8.5 5.6 7 7.5 7m3.5 9v4M7.5 7H14m0 0V4h2.5M14 7v3m-3.5 6H20v-6a3 3 0 0 0-3-3m-2 9v4m-8-6.5h1"
            ></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="hidden sm:flex h-full my-auto items-center">
      <div class="my-auto text-xl sm:mr-10">
        <p>078 581 478</p>
      </div>
      <div class="my-auto w-10 sm:mr-10">
        <a href="https://www.facebook.com/VanillaShopSex">
          <svg
            class="w-10 h-10 text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M13.1 6H15V3h-1.9A4.1 4.1 0 0 0 9 7.1V9H7v3h2v10h3V12h2l.6-3H12V6.6a.6.6 0 0 1 .6-.6h.5Z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>
      <div class="my-auto w-10 sm:mr-10">
        <a href="/">
          <img src={ig.src} class="w-10 h-10" alt="" />
        </a>
      </div>
      <div class="my-auto mt-5 sm:mt-0 w-10 sm:mr-10">
        <a href="mailto:sex.shop.vanilla@gmail.com">
          <svg
            class="w-10 h-10"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M11 16v-5.5C11 8.5 9.4 7 7.5 7m3.5 9H4v-5.5C4 8.5 5.6 7 7.5 7m3.5 9v4M7.5 7H14m0 0V4h2.5M14 7v3m-3.5 6H20v-6a3 3 0 0 0-3-3m-2 9v4m-8-6.5h1"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
